.about-section{
    background-color: #23153c;
    padding: 60px 20px;
}

/* container */

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    gap:40px;
    max-width:1100px;
}

/* global text */

*{
    color:white;
}

/* image */

.photo img{
    height:300px;
    width:auto;
    object-fit:cover;
    border:3px solid #444;
    border-radius:10px;
}

/* text */

.content{
    text-align:left;
    line-height:1.7;
    font-size:16px;
}

.content h3{
    font-weight:normal;
}

/* animation */

.hidden{
  opacity:0;
  transform:translateY(100px);
  transition:all 2s ease-in-out;
}

.show{
  opacity:1;
  transform:translateY(0);
}


/* ================= */
/* TABLET RESPONSIVE */
/* ================= */

@media (max-width: 900px){

.about-container{
    flex-direction:column;
    text-align:center;
}

.content{
    text-align:center;
}

.photo img{
    height:260px;
}

}


/* ================= */
/* MOBILE RESPONSIVE */
/* ================= */

@media (max-width: 600px){

.about-container{
    flex-direction:column;
    gap:25px;
}

.photo img{
    height:220px;
}

.content{
    font-size:14px;
    padding:0 10px;
}

.about-section{
    padding:40px 15px;
}

}