.hero{
height:100vh;
display:flex;
justify-content:flex-start;
align-items:center;
position:relative;
color:white;
font-family:Arial, Helvetica, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.hero-content{
text-align:left;
z-index:2;
padding-left: 50px;
}

.name{
font-size:70px;
opacity: 1;
font-weight:bold;
position: relative;
z-index: 3;
}

.name span {
display: inline-block;
opacity: 1;
background: linear-gradient(90deg,#00f2ff,#7b2cff);
background-clip:text;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.title{
font-size:30px;
font-weight:300;
letter-spacing:3px;
opacity:0.9;
}

.cursor{
animation: blink 1s infinite;
}

@keyframes blink{
0%{opacity:1}
50%{opacity:0}
100%{opacity:1}
}

@media (max-width:768px){

.name{
font-size:45px;
}

.title{
font-size:22px;
}

.hero-content{
margin-top:80px;
}

}