.skills-container{
    text-align:center;
    background-color: #23153c;
}
.skill-card{
    position:relative;
    width:150px;
    height:180px;
    text-align:center;
    opacity:0;
    transform:scale(0.8) translateY(50px);
    transition:all 1.2s ease;
}

.skill-card.show{
    opacity:1;
    transform:scale(1) translateY(0);
}

/* circle style */

svg{
    transform:rotate(-90deg);
}

circle{
    fill:none;
}

.bg{
    stroke:#eee;
}

.progress{
    stroke:#38bdf8;
    stroke-dasharray:377;
    transition:stroke-dashoffset 0.6s ease;
}

.percentage{
    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);
    font-size:20px;
    font-weight:bold;
}

.skills-grid{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
    margin-top:30px;
}

.skill-card{
    position:relative;
    width:150px;
    height:150px;
    background-color: #23153c;
    padding-top:20px;
}

svg{
    transform:rotate(-90deg);
}

circle{
    fill:none;
    stroke-width:10;
}

.bg{
    stroke:#eee;
}

.progress{
    stroke:#00c6ff;
    stroke-dasharray:377;
    stroke-dashoffset:377;
    transition:stroke-dashoffset 0.4s ease;
}

.percentage{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:22px;
    font-weight:bold;
}

.skill-card h3{
    margin-top:10px;
    text-align:center;
}